* {
  margin: 0;
}

body {
  background-color: black;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.app {
  box-shadow: -1px 4px 20px -6px rgba(255, 255, 255, 0.2);
  padding: 1em 2em;
  flex-shrink: inherit;
}

.app__container {
  display: flex;
  padding-top: 36px;
  color: #fff;
}

.linegraph {
  height: 200px;
}

@media screen and (max-width: 1080px) {
  .app {
    padding: 1em;
  }
  .app__container {
    flex-direction: column;
  }
  .newsfeed__market__box {
    display: none;
  }
  .stats {
    padding: 0 !important;
  }
}
